<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:cdv   = "http://cordova.apache.org/ns/1.0"
        id          = "com.profedigital.app"
        android-versionCode = "13"
        version     = "1.00.0">

    <name>Teste</name>

    <description>
        Testando
    </description>

    <author>Tadapp</author>

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />
    <plugin name='cordova-plugin-network-information' />

    <preference name='phonegap-version' value='cli-9.0.0' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="29" />
    <preference name='orientation' value='portrait' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#000000" />

    <preference name="Fullscreen" value="false" />


    <platform name="android">
        <icon background="res/android/icon/ldpi_1619007985_378cb80160f9d79afb3c.png" density="ldpi" foreground="res/android/icon/ldpi_1619007985_378cb80160f9d79afb3c.png" />
        <icon background="res/android/icon/mdpi_1619007985_378cb80160f9d79afb3c.png" density="mdpi" foreground="res/android/icon/mdpi_1619007985_378cb80160f9d79afb3c.png" />
        <icon background="res/android/icon/hdpi_1619007985_378cb80160f9d79afb3c.png" density="hdpi" foreground="res/android/icon/hdpi_1619007985_378cb80160f9d79afb3c.png" />
        <icon background="res/android/icon/xhdpi_1619007985_378cb80160f9d79afb3c.png" density="xhdpi" foreground="res/android/icon/xhdpi_1619007985_378cb80160f9d79afb3c.png" />
        <icon background="res/android/icon/xxhdpi_1619007985_378cb80160f9d79afb3c.png" density="xxhdpi" foreground="res/android/icon/xxhdpi_1619007985_378cb80160f9d79afb3c.png" />
        <icon background="res/android/icon/xxxhdpi_1619007985_378cb80160f9d79afb3c.png" density="xxxhdpi" foreground="res/android/icon/xxxhdpi_1619007985_378cb80160f9d79afb3c.png" />

        <splash src="res/android/screen/hdpi_port_1619008262_b7370c46b7202e1d5e24.png" density="port-hdpi" />
        <splash src="res/android/screen/ldpi_port_1619008262_b7370c46b7202e1d5e24.png" density="port-ldpi" />
        <splash src="res/android/screen/mdpi_port_1619008262_b7370c46b7202e1d5e24.png" density="port-mdpi" />
        <splash src="res/android/screen/xhdpi_port_1619008262_b7370c46b7202e1d5e24.png" density="port-xhdpi" />
        <splash src="res/android/screen/hdpi_land_1619008262_b7370c46b7202e1d5e24.png" density="land-hdpi" />
        <splash src="res/android/screen/ldpi_land_1619008262_b7370c46b7202e1d5e24.png" density="land-ldpi"/>
        <splash src="res/android/screen/mdpi_land_1619008262_b7370c46b7202e1d5e24.png" density="land-mdpi"/>
        <splash src="res/android/screen/xhdpi_land_1619008262_b7370c46b7202e1d5e24.png" density="land-xhdpi"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>